# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET Build & Publish

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
    - uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore
    
      # собираем
    - name: Build
      run: dotnet build --no-restore --configuration Release

      # тесты
    - name: Test
      run: dotnet test Telegram.BotKit.Tests/Telegram.BotKit.Tests.csproj --no-build --configuration Release --verbosity normal
      
      # пакуем библиотеку
    - name: Pack
      if: startsWith(github.ref, 'refs/tags/v')
      run: dotnet pack Telegram.BotKit/Telegram.BotKit.csproj --no-build --configuration Release --output ./nupkgs

      # публикуем в GitHub Packages
    - name: Publish to GitHub Packages
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        dotnet nuget push ./nupkgs/*.nupkg \
          --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json \
          --api-key ${{ secrets.GITHUB_TOKEN }} \
          --skip-duplicate
          
      # публикуем в NuGet
    - name: Publish to NuGet.org
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        dotnet nuget push ./nupkgs/*.nupkg \
          --source https://api.nuget.org/v3/index.json \
          --api-key ${{ secrets.NUGET_API_KEY }} \
          --skip-duplicate
